h1{
    font-size: 32px;
    font-weight: 600;
}
p{
    margin: 0;
    font-weight: 300;
}
.text-white{
    color: white;
}
.text-green{
    color:#0faf82;
}
.flex{
    height: "100%";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
